.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.bm-menu {
  list-style-type: none;
  color: white;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: .9em;
  overflow: scroll;
  width: 100%;
}

.Header {
  position: auto;
  flex-wrap: wrap;
}

.bm-burger-button {
  position: fixed;
  width: 2em;
  height: 1.5em;
  left: 3%;
  top: 3%;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  color:white;
  height: 24%;
  width: 24%;
  margin: 0;
  padding: 0;
  top: 5%;
  align-self: flex-end;

}

.bm-cross {
  background: #bdc3c7;
}

#header-text {
  padding: 0;
  margin-left: 30%;
  top: 2%;
  text-align: center;
}

#showing-results-text {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 2%;
  line-height: 1em;
  font-size: 1em;
  font-style: italic;
}

.searchbar input {
  width: 100%;
  margin: 10px;
  padding:0;
  font-size: 2em;
}

::-webkit-input-placeholder {
    font-style: italic;
}

.bm-item {
 display:inherit;
}

.bm-item:hover {
  cursor:pointer;
  width:100%/
}

.bm-item-list {
  padding: 0;
  margin: 0;
}
