.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.bm-menu {
  list-style-type: none;
  color: white;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: .9em;
  overflow: scroll;
}

.Header {
  position: auto;
  flex-wrap: wrap;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 30px;
}

.bm-burger-bars {
  background: #373a47;
}

#header-text {
  padding: 0;
  margin: 0;
  top: 2%;
  text-align: center;
}

#showing-results-text {
  margin: 20px;
  line-height: 0;
  font-size: 1em;
  font-style: italic;
}

.searchbar input {
  width: 100%;
  margin: 10px;
  padding:0;
  font-size: 2em;
}

::-webkit-input-placeholder {
    font-style: italic;
}
